<div id="userdetails">
    		<div id="<%= @user.name %>" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" style="color: #<%= @user.color %>;"><%= @user.name %></h3>
			</div>
			<div class="panel-body">
				<pre><%= JSON.pretty_generate(@user.as_json) %></pre>
			</div>
		</div>
</div>